.gallery {

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  

        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        width: 100%;
        max-height: 320px; 
        object-fit: cover;
    }
}