.insta-gallery {
    padding: 50px 0;
    text-align: center;

    &__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 26px;
            margin-bottom: 16px;
        }
    }

    &__subtitle{ 
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        margin-bottom: 36px;
    }

    &__img{
        max-width: 367px;
        position: relative;

        img {
            max-width: 100%; 
            height: auto; 
        }
    }

    &__author {
        position: absolute;
        top: 50px;
        right: 20px;
        display: flex;
        gap: 12px;
        color: #fff;
    }  
}

// СТИЛІ ДЛЯ Swiper
.swiper {
    max-width: 1120px;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    justify-content: start;
    margin: 0 auto;
}
.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 20px 0;
}
  
.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s;
  
    &.swiper-pagination-bullet-active {
        background-color: #000;
        transform: scale(1.8); 
    }
  
    &:hover {
        background-color: #000;
        transform: scale(1.8); 
    }
}

